.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-container {
    width: 200px;
    height: 300px;
    margin: 10px;
    text-align: center;
    border: 1px solid whitesmoke;
  }
  
  h1{
    text-align: center;
    justify-content: center;
    align-items: center;
  }